# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv311/
env/
ENV/

# Logs
logs/
*.log

# IDE
.idea/
*.iml
.vscode/
it-da-ai-server/data/synthetic_interactions_nationwide.csv
it-da-ai-server/data/synthetic_meetings_nationwide.csv
it-da-ai-server/data/synthetic_users_nationwide.csv
data/nsmc/*.txt
